; TODO : 
;   - copier coller ce fichier et renopmmer la copie en config.ini
;   - ensuite, dans ce fichier config.ini, définir une valeur pour chaque paramètre 

; connexion à la base de données
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
